/* This Awesome CSS file was created by Font Orgranizer from Hive :) */


@font-face {
    font-family: 'Gotham SSm A';
    
    src: url('//www.wpdiamonds.hk/wp-content/uploads/font-organizer/Gotham-Book.otf') format('opentype'),
url('//www.wpdiamonds.hk/wp-content/uploads/font-organizer/Gotham-Medium.otf') format('opentype');
font-weight: 600;
}

@font-face {
    font-family: 'Gotham SSm A';
    
    src: url('//www.wpdiamonds.hk/wp-content/uploads/font-organizer/Gotham-Book1.otf') format('opentype');
font-weight: 700;
}

@font-face {
    font-family: 'Gotham SSm A';
    
    src: url('//www.wpdiamonds.hk/wp-content/uploads/font-organizer/Gotham-Bold.ttf') format('truetype');
font-weight: 900;
}
