/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

top-bar-secondary a { font-family: 'Gotham SSm A'!important; font-weight:900!important; }
top-bar-primary .top-bar-section a { font-family: 'Gotham SSm A'!important; font-weight:900!important; }
